.form-section {
    background: rgba(255, 255, 255, 0.05);
    width: 80%;
    margin: 0 auto;
}

.form-section .form-header {
    margin: 30px 0;
}

.form-title,
.list-title {
    background: #aaa;
    padding: 10px;
}

.form {
    width: 80%;
    margin: 0 auto;
}

.form .row {
    display: flex;
    margin-bottom: 20px;
    /*border-bottom: 1px solid #bbb;*/
    /*padding-bottom: 20px;*/
}

.form .label {
    text-align: left;
    width: 30%;
}

.form .control {
    flex: auto;
}

.form input,
.form textarea,
.form select {
    width: 100%;
}

.form textarea {
    height: 200px;
}

.form fieldset {
    margin: 30px 0;
    padding-top: 30px;
}

.form .autowidth {
    width: auto;
}

.form hr {
    border: 1px solid #eee;
    width: 80%;
    margin: 50px auto;
}

.form .control-container {
    flex: auto;
}

.form .row_visible {
    display: flex;
    margin-top: 10px;
}

.form .visible_label {
    margin-right: 2%;
}

.form ._day,
.form ._month {
    margin-right: 1%;
}

.form ._lastdate {
    margin-right: 5%;
}

.form .submit {
    text-align: center;
}

.form .input-submit {
    background: #446092 none repeat scroll 0 0;
    border: medium none;
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    color: white;
    cursor: pointer;
    font-size: 1.2em;
    padding: 10px 20px;
}

.form .error,
.bottom-control-errors,
.top-control-errors,
.top-form-result.error {
    color: #c00;
    background: yellow;
}

.top-form-result.success {
    color: #fff;
    background: #589a5e;
}

.top-control-errors,
.top-form-result {
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 10px;
}

.bottom-control-errors {
    box-sizing: border-box;
    margin-top: 20px;
    padding: 10px;
}

.bottom-control-errors ul,
.bottom-control-errors li,
.top-control-errors ul,
.top-control-errors li
{
    margin-left: 20px;
}

/**
* Remove this rule if you want inline checkboxes instead of a checkbox stack
 */
.checkbox-label
{
    display: block;
    text-align: left;
}

.checkbox-label input,
.radio-label input
{
    width: auto;
}

.dynamic-items li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    background: #eee;
    padding: 5px;
}

.dynamic-items li button {
    margin-left: 100px;
}