
.widget-usermanag-filemanager {
  color: #444;

  .filter-links {
    a {
      font-size: 10px;
      background-color: white;
      padding: 5px 12px;
      color: inherit;
      border-radius: 2px;
      border: 1px solid #ccc;
      margin-right: 5px;
      margin-bottom: 5px;
      display: inline-block;

      &:hover {
        border: 1px solid #777;
      }
    }
  }

  .folder-list {
    li {
      border-bottom: 1px solid #e7eaec;
      display: block;

      a {
        color: #363636;
        display: block;
        padding: 5px 0;
        font-size: 13px;

        i {
          margin-right: 4px;
        }
      }
    }
  }


  .tag-list li {

    a {

      font-size: 10px;
      background-color: #f3f3f4;
      padding: 5px 12px;
      color: inherit;
      border-radius: 2px;
      border: 1px solid #e7eaec;
      margin-right: 5px;
      margin-top: 5px;
      display: block;

      &:hover {
        color: #333;
        background: #e3e3e3;
        border-color: #ccc;
      }

    }
  }

  .files-list {

    .file-icon {
      color: #cfcfcf;
    }

    .card-img-top {
      position: relative;

      &.with-icon {
        height: 160px;
      }


      .dropleft {
        position: absolute;
        right: 0;
        top: 0;

        .dropdown-toggle {

          border-top-right-radius: 0 !important;

          &::before {
            content: "\f013";
            font-family: "Font Awesome 5 Free";
            font-weight: bold;
            border-top: none;
            border-right: none;
            border-bottom: none;
            color: #a2a2a2;
          }
        }
      }
    }

  }
}
